<%= form_with model: @book, url: '/books', method: :post do |f| %>
<h1>
  ようこそ
  <text>Booker</text>
  へ！
</h1>

<p>
  <text>Bookers</text>
  では、さまざまな書籍に関するあなたの意見や
</p>
<p>印象を共有し交換することができます</p>
<a href= "books">stert</a>
<% end %>
